:root {
  --font-family: "Noto Serif";
  --nav-font-color: #67367b;
  --btn-color: #673657;
  --bg-color: #ffffff;
  --btn-hover-color: #67367b;
  --h4-color: #4d4d4d;
  --intro-bg-color: #f7f4f6;
  --services-bg-color: #fffdf9;
  --flutter-progress: 80%;
  --bca-progress: 95%;
  --web-progress: 60%;
  --progress-completed-color: #49a078;
  --progress-incompleted-color: #eeeeee;

  --hr-color: #758ca9;
}

/* ELEMENTS */
body {
  background-color: var(--bg-color);
  font-family: var(font-family), serif;
  font-weight: 1.1rem;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: var(--font-family), serif;
  font-size: 5rem;
  margin-bottom: 1.5rem;
}
h2 {
  font-family: var(--font-family), serif;
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-family: var(--font-family), serif;
  font-size: 2rem;
}
h4 {
  font-family: var(--font-family), serif;
  font-size: 1.2rem;
  color: var(--h4-color);
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: 1.6rem;
}

a {
  color: var(--nav-font-color);
  letter-spacing: 0.8px;
}

button {
  font-family: var(--font-family), serif;
}

/* CUSTOM CLASSES */

.container-fluid {
  padding: 0rem 10rem;
  margin: 0rem;
}

.center-title {
  align-self: center;
}

/* NAVIGATION BAR */
.navbar {
  padding: 1rem;
  margin: 0.8rem;
  border: 0rem;
}
.logo {
  width: 6rem;
}

.hire-me-button {
  margin-left: auto;
}

.btn-primary {
  background-color: var(--btn-color);
  border: 0px;
  border-radius: 2px;
}
.btn:hover {
  background-color: var(--btn-hover-color);
}
.btn:active {
  background-color: var(--btn-hover-color);
}
.btn:focus {
  background-color: var(--btn-hover-color);
}

.nav-item {
  padding: 0 0.8rem;
}

.progress-bar {
  width: 100%;
  height: 0.6rem;
  border-radius: 1rem;
}

/* INTRODUCTION */
.introduction {
  background-color: var(--intro-bg-color);
  padding: 1rem 0rem 0.8rem 0rem;
}
.aashish-img {
  height: 50rem;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.intro {
  padding-right: 5rem;
}
.row {
  align-items: center;
  justify-content: space-around;
}
.resumebutton {
  text-align: left;
}

/* ABOUT ME */
.about-me {
  padding: 5rem 0rem;
}
.about-hr {
  width: 7rem;
  border-color: var(--hr-color);
  border-width: 0.09rem;
  margin-bottom: 3rem;
}
.coding-img {
  height: 35rem;
  width: 35rem;
  border: 2px solid var(--intro-bg-color);
  border-radius: 1rem;
  object-fit: cover;
}
.about-me h3 {
  width: 21rem;
}
.about-body-hr {
  width: 4rem;
  border-color: var(--hr-color);
  border-width: 0.09rem;
  margin-bottom: 0.8rem;
  margin-left: 0rem;
  align-self: start;
}
.about-me h4 {
  padding-right: 2rem;
}

/* MY WORKS */

.works {
  background-color: var(--services-bg-color);
}

.works img {
  height: 15rem;
  object-fit: contain;
}
.works .row {
  align-items: start;
}
.works .card {
  border: 0px;
  background-color: var(--services-bg-color);
}
.works h3 {
  font-weight: 600;
  font-size: 1.5rem;
}
.works h4 {
  font-weight: 300;
  font-size: 1rem;
}

/* EXPERIENCE */
.experience {
  background-color: var(--services-bg-color);
  padding-bottom: 2rem;
}
.experience .row {
  align-items: start;
}
.experience .card {
  border: 0px;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.bca .progress-bar {
  background: linear-gradient(
    90deg,
    var(--progress-completed-color) var(--bca-progress),
    var(--progress-incompleted-color) var(--bca-progress)
  );
}
.flutter .progress-bar {
  background: linear-gradient(
    90deg,
    var(--progress-completed-color) var(--flutter-progress),
    var(--progress-incompleted-color) var(--flutter-progress)
  );
}
.web .progress-bar {
  background: linear-gradient(
    90deg,
    var(--progress-completed-color) var(--web-progress),
    var(--progress-incompleted-color) var(--web-progress)
  );
}

/* FOOTER */

footer {
  background-color: #212121;
  padding: 3rem 10rem 4rem 10rem;
}
footer img {
  object-fit: contain;
}
footer .row {
  align-content: space-between;
  justify-content: space-evenly;
}
footer h4 {
  text-align: center;
  color: var(--intro-bg-color);
}

i {
  color: var(--intro-bg-color);
  font-size: 1.5rem;
  padding: 1rem;
}
footer h6 {
  color: var(--bg-color);
  font-weight: 100;
  text-align: center;
  margin: auto;
  padding-top: 4rem;
}

/* RESPONSIVE */
/* Medium Screen >=768px */
@media (max-width: 1200px) {
  h1 {
    font-size: 2.2rem;
    text-align: center;
  }
  h2 {
    font-size: 4rem;
    text-align: center;
  }
  h4 {
    font-size: 1.4rem;
  }
  .introduction h4 {
    text-align: center;
  }
  .resumebutton {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
  }
  .aashish-img {
    height: 40rem;
  }
  .logo {
    width: 8rem;
    height: 2rem;
    object-fit: contain;
  }
  .container-fluid {
    padding: 1rem 2rem;
  }

  .contact-me-button {
    margin-bottom: 1rem;
  }
  .coding-img {
    margin: 1rem;
  }

  .works .card {
    padding: 0px;
    margin: 0px;
  }
  .experience .card {
    margin-top: 1rem;
  }
  footer h4 {
    text-align: center;
  }
  h6 {
    text-align: center;
  }
  .hire-me-button {
    display: none;
  }
}
/* SMALL SCREEN >=576px */
@media (max-width: 768px) {
  .coding-img {
    width: 80%;
    height: 25rem;
    object-fit: contain;
  }
  footer h4 {
    text-align: center;
  }
  h6 {
    text-align: center;
  }
  .hire-me-button {
    display: none;
  }
  h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  h4 {
    font-size: 1rem;
  }
}
